name: gh-page

on: 
  push:
    branches:
      - zh

permissions: write-all

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          repository: 'ruyisdk/ruyisdk-website'

      - name: Modify website
        run: |
          rmdir docs
          sed -i 's| baseUrl:.*| baseUrl: "/docs/",|' ./docusaurus.config.js

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: './docs'

      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 22.4.1
          cache: pnpm

      - name: Install dependencies
        run: pnpm install
      - name: Build website
        run: pnpm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
